API_URL = 'http://localhost:8000'
NEXT_PUBLIC_GOOGLE_ANALYTICS = 'UA-XXXXX-X'
FIREBASE_API_KEY = '123'
FIREBASE_AUTH_DOMAIN = 'example.com'
FIREBASE_PROJECT_ID = 'projectId'
FIREBASE_STORAGE_BUCKET = 'storageId'
FIREBASE_MSG_SENDER_ID = 'senderId'
FIREBASE_APP_ID = 'appId'